.checkout-stripe-logo {
  height: 32px;
  margin-top: 16px;
}
.checkout-stripe-text {
  margin-left: 8px;
  color: #888;
}
.checkout-stripe-logo {
  height: 32px;
  margin-top: 16px;
}
.checkout-stripe-text {
  margin-left: 8px;
  color: #888;
}
